div.news
  div
    p <a>DAddYE</a> starred <a>leehambley/sshkit</a>  15 hours ago
  div
    p <a>DAddYE</a> starred <a>leehambley/sshkit</a>  15 hours ago
  div
    p <a>DAddYE</a> starred <a>leehambley/sshkit</a>  15 hours ago
  div
    p <a>DAddYE</a> starred <a>leehambley/sshkit</a>  15 hours ago
